 ## Python Pandas Working With HTML
- In this Part we are going to learn about

1. read HTML(read_html)
2. To HTML(to_html)

In [1]:
## for fixing ssl verification problem
#import ssl
#import certifi

#ssl._create_default_https_context = lambda: ssl.create_default_context(cafile=certifi.where())

In [2]:
import requests

url = 'https://en.wikipedia.org/wiki/Mobile_country_code'
headers = {'User-agent' : 'Mozilla/5.0'}

response = requests.get(url,headers=headers)
response.raise_for_status()

In [3]:
import pandas as pd

In [4]:
html=pd.read_html(response.text)

C:\Users\Home\AppData\Local\Temp\ipykernel_7256\3856127478.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  html=pd.read_html(response.text)

In [5]:
len(html)

5

In [6]:
type(html)

list

In [7]:
html[1]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

In [8]:
html=pd.read_html(response.text, match='MCC')

C:\Users\Home\AppData\Local\Temp\ipykernel_7256\2490330685.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  html=pd.read_html(response.text, match='MCC')

In [9]:
html

[   MCC  MNC Brand      Operator       Status Bands (MHz)  \
 0    1    1  TEST  Test network  Operational         any
 1    1    1  TEST  Test network  Operational         any
 2  999   99   NaN  Internal use  Operational         any
 3  999  999   NaN  Internal use  Operational         any

                               References and notes
 0                                              NaN
 1                                              NaN
 2  Internal use in private networks, no roaming[6]
 3  Internal use in private networks, no roaming[6]  ,
      Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 ..                   ...                                        ...      ...
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes National MNC authority  \
 0             List of mobile network codes in Abkhazia                    NaN
 1          List of mobile network codes in Afghanistan                    NaN
 2              List of mobile network codes in Albania                    NaN
 3              List of mobile network codes in Algeria                    NaN
 4       List of mobile network codes in American Samoa                    NaN
 ..                                                 ...                    ...
 247        List of mobile network codes in the Vietnam                    NaN
 248  List of mobile network codes in Wallis and Futuna                    NaN
 249          List of mobile network codes in the Yemen                    NaN
 250             List of mobile network codes in Zambia                    NaN
 251           List of mobile network codes in Zimbabwe                    NaN

                       Remarks
 0    MCC is not listed by ITU
 1                         NaN
 2                         NaN
 3                         NaN
 4                         NaN
 ..                        ...
 247                       NaN
 248                       NaN
 249                       NaN
 250                       NaN
 251                       NaN

 [252 rows x 6 columns],
      MCC  MNC     Brand                  Operator           Status  \
 0    901    1       NaN                   Webbing          Unknown
 1    901    2       NaN            GlobalmatiX AG          Unknown
 2    901    3   Iridium                       NaN      Operational
 3    901    4       NaN  BBIX Singapore Pte. Ltd.          Unknown
 4    901    5       NaN      Thuraya RMSS Network      Operational
 ..   ...  ...       ...                       ...              ...
 99   902    1       NaN        MulteFire Alliance      Operational
 100  991    1       NaN    World's Global Telecom  Not operational
 101  991    2  5G Croco               Orange S.A.  Not operational
 102  991    3       NaN                 Halys SAS  Not operational
 103  991    4       NaN              E-Space Inc.          Unknown

     Bands (MHz)                               References and notes
 0          MVNO            Former ICO Satellite Management[51][52]
 1       Unknown  Former Sense Communications International; veh...
 2     Satellite                                                NaN
 3       Unknown                              Former Globalstar[54]
 4     Satellite                                                NaN
 ..          ...                                                ...
 99          LTE                                           [6][128]
 100     Unknown  temporarily assigned until 15 January 2021[105...
 101          5G  temporarily assigned until 6 August 2022[130][...
 102     Unknown  temporary assignment for trial until 5 April 2...
 103   Satellite  temporary assignment for trial until 17 Oct 20...

 [104 rows x 7 columns],
    MCC  MNC     Brand                 Operator       Status Bands (MHz)  \
 0  995    1  FonePlus  Sure (Diego Garcia) Ltd  Operational     GSM 900

                                 References and notes
 0  There appears to be no officially assigned MCC...  ]

In [11]:
type(html[0])

pandas.core.frame.DataFrame

In [10]:
html[0].to_html('demo.html')

---

In [12]:
#PRACTICE

In [15]:
import requests

url = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'
headers = {'User-Agent' : 'Mozilla/5.0'}

response=requests.get(url, headers=headers)

In [18]:
html_df=pd.read_html(response.text)

C:\Users\Home\AppData\Local\Temp\ipykernel_7256\110844441.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  html_df=pd.read_html(response.text)

In [20]:
html_df[0]

,Location,Population,% of world,Date,Source (official or from the United Nations),Notes
0,World,8232000000,100%,13 Jun 2025,UN projection[1][3],NaN
1,India,1417492000,17.3%,1 Jul 2025,Official projection[4],[b]
2,China,1408280000,17.2%,31 Dec 2024,Official estimate[5],[c]
3,United States,340110988,4.1%,1 Jul 2024,Official estimate[6],[d]
4,Indonesia,284438782,3.5%,30 Jun 2025,National annual projection[7],NaN
...,...,...,...,...,...,...
237,Niue (New Zealand),1681,0%,11 Nov 2022,2022 Census[252],NaN
238,Tokelau (New Zealand),1647,0%,1 Jan 2019,2019 Census[253],NaN
239,Vatican City,882,0%,31 Dec 2024,Official figure[254],[ah]
240,Cocos (Keeling) Islands (Australia),593,0%,30 Jun 2020,2021 Census[255],NaN
241,Pitcairn Islands (UK),35,0%,1 Jul 2023,Official estimate[256],NaN

In [21]:
html_df[1]

,vteLists of countries by population statistics,vteLists of countries by population statistics.1
0,Global,Current population United Nations Demographics...
1,Continents/subregions,Africa Antarctica Asia Europe North America Ca...
2,Intercontinental,Americas Arab world Commonwealth of Nations Eu...
3,Cities/urban areas,World cities National capitals Megacities Mega...
4,Past and future,Past and future population Estimates of histor...
5,Population density,Current density Past and future population den...
6,Growth indicators,Population growth rate Natural increase Net re...
7,Life expectancy,World Africa Asia Europe North America Oceania...
8,Other demographics,Age at childbearing Age at first marriage Age ...
9,Health,Antidepressant consumption Antiviral medicatio...
10,Education and innovation,Bloomberg Innovation Index Education Index Glo...
11,Economic,Access to financial services Development aid d...
12,List of international rankings Lists by country,List of international rankings Lists by country

In [24]:
df=html_df[2]
df

,vteWorld,vteWorld.1
0,AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua ...,AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua ...

In [25]:
df.shape

(1, 2)

In [26]:
df.to_csv('world.csv')