# Pandas Part 2
In Part we are going to learn about
- StringIO
- pandas read_csv

In [4]:
### Reading Different Data sources with the help of pandas
from io import StringIO
import pandas as pd

In [6]:
df=pd.read_csv('mercedesbenz.csv')
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [7]:
type(df)

pandas.core.frame.DataFrame

In [18]:
data = ('col1,col2,col3\n'
       'x,y,1\n'
       'a,b,2\n'
       'c,d,3')

In [19]:
type(data)

str

In [20]:
StringIO(data)

In [21]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [22]:
pd.read_csv(StringIO(data), usecols=['col1','col2'])

  col1 col2
0    x    y
1    a    b
2    c    d

In [29]:
import pandas as pd
df=pd.read_csv('mercedesbenz.csv', usecols=[	'ID',	'y',	'X0',	'X1',	'X2',	'X3',	'X4',	'X5'] )
df.head()

   ID       y  X0 X1  X2 X3 X4 X5
0   0  130.81   k  v  at  a  d  u
1   6   88.53   k  t  av  e  d  y
2   7   76.26  az  w   n  c  d  x
3   9   80.62  az  t   n  f  d  x
4  13   78.02  az  v   n  f  d  h

In [30]:
df.to_csv('test.csv',index=False)

In [32]:
##datatypes in csv
data = ('a,b,c,d\n'
       '1,2,3,4\n'
       '5,6,7,8\n'
       '9,10,11')

In [33]:
type(data)

str

In [34]:
StringIO(data)

In [36]:
df=pd.read_csv(StringIO(data))
df

   a   b   c    d
0  1   2   3  4.0
1  5   6   7  8.0
2  9  10  11  NaN

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 228.0 bytes

In [39]:
df=pd.read_csv(StringIO(data), dtype='object')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1   b       3 non-null      object
 2   c       3 non-null      object
 3   d       2 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes

In [42]:
df

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [41]:
df.isnull().sum()

a    0
b    0
c    0
d    1
dtype: int64

In [43]:
df['a'][0]

'1'

In [44]:
## datatypes in csv

In [51]:
df=pd.read_csv(StringIO(data), dtype={'a':int, 'b': int, 'c': str, 'd': float})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      object
 3   d       2 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 228.0+ bytes

In [52]:
df.dtypes

a      int64
b      int64
c     object
d    float64
dtype: object

In [55]:
data = ('Index,a,b,c\n'
       '4,apple,bat,5.7\n'
       '8,orange,cow,5')

In [59]:
pd.read_csv(StringIO(data), index_col=0
           )

            a    b    c
Index
4       apple  bat  5.7
8      orange  cow  5.0

In [69]:
url = 'https://download.bls.gov/pub/time.series/cu/cu.item'

In [70]:
pd.read_csv(url, sep='\t', engine='python', comment='#')

HTTPError: HTTP Error 403: Forbidden

In [71]:
import requests

# URL of the file
url = 'https://download.bls.gov/pub/time.series/cu/cu.item'

# Send HTTP request
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Save content to a file
    with open('cu.item.txt', 'w', encoding='utf-8') as f:
        f.write(response.text)
    print("File saved successfully as cu.item.txt")
else:
    print("Failed to download:", response.status_code)

Failed to download: 403

In [72]:
import requests

url = 'https://download.bls.gov/pub/time.series/cu/cu.item'

# Add headers to mimic a browser
headers = {
    'User-Agent': 'Mozilla/5.0'
}

response = requests.get(url, headers=headers)

# Save file if request is successful
if response.status_code == 200:
    with open('cu.item.txt', 'w', encoding='utf-8') as f:
        f.write(response.text)
    print("File saved successfully as cu.item.txt")
else:
    print("Failed to download:", response.status_code)

Failed to download: 403