## Tutorial 13- Python Pandas Working With XML Tutorials- Part 5

1. Read XML and get Dataframe
2. Convert Dataframe to XML

- What is XML?

1. XML stands for eXtensible Markup Language
2. XML is a markup language much like HTML
3. XML was designed to store and transport data
4. XML was designed to be self-descriptive
5. XML is a W3C Recommendation

In [1]:
import pandas as pd

In [2]:
df=pd.read_xml('test.xml')
df

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [43]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
 <row>
   <shape>square</shape>
   <degrees>360</degrees>
   <sides>4.0</sides>
   <firstname>Krish</firstname>
 </row>
 <row>
   <shape>circle</shape>
   <degrees>360</degrees>
   <sides/>
   <firstname/>
 </row>
 <row>
   <shape>triangle</shape>
   <degrees>180</degrees>
   <sides>3.0</sides>
   <firstname/>
 </row>
</data>'''

In [44]:
xml

'<?xml version=\'1.0\' encoding=\'utf-8\'?>\n<data xmlns="http://example.com">\n <row>\n   <shape>square</shape>\n   <degrees>360</degrees>\n   <sides>4.0</sides>\n   <firstname>Krish</firstname>\n </row>\n <row>\n   <shape>circle</shape>\n   <degrees>360</degrees>\n   <sides/>\n   <firstname/>\n </row>\n <row>\n   <shape>triangle</shape>\n   <degrees>180</degrees>\n   <sides>3.0</sides>\n   <firstname/>\n </row>\n</data>'

In [45]:
pd.read_xml(xml)

C:\Users\Home\AppData\Local\Temp\ipykernel_2572\2704978085.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml)

      shape  degrees  sides firstname
0    square      360    4.0     Krish
1    circle      360    NaN      None
2  triangle      180    3.0      None

In [46]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data>
  <row shape="square" degrees="360" sides="4.0" firstname="Krishna" lastname="JI"/>
  <row shape="circle" degrees="360" firstname="MADHAVDAS" lastname="JI"/>
  <row shape="triangle" degrees="180" sides="3.0" firstname = "Radhe Radhe" lastname="JI"/>
</data>'''

In [47]:
pd.read_xml(xml)

C:\Users\Home\AppData\Local\Temp\ipykernel_2572\2704978085.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml)

      shape  degrees  sides    firstname lastname
0    square      360    4.0      Krishna       JI
1    circle      360    NaN    MADHAVDAS       JI
2  triangle      180    3.0  Radhe Radhe       JI

In [48]:
pd.read_xml(xml, xpath='.//row')

C:\Users\Home\AppData\Local\Temp\ipykernel_2572\3617784971.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml, xpath='.//row')

      shape  degrees  sides    firstname lastname
0    square      360    4.0      Krishna       JI
1    circle      360    NaN    MADHAVDAS       JI
2  triangle      180    3.0  Radhe Radhe       JI

In [50]:
pd.read_xml(xml, xpath='.//row')

C:\Users\Home\AppData\Local\Temp\ipykernel_2572\3617784971.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml, xpath='.//row')

      shape  degrees  sides    firstname lastname
0    square      360    4.0      Krishna       JI
1    circle      360    NaN    MADHAVDAS       JI
2  triangle      180    3.0  Radhe Radhe       JI

In [51]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<doc:data xmlns:doc="https://example.com">
  <doc:row>
    <doc:shape>square</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides>4.0</doc:sides>
  </doc:row>
  <doc:row>
    <doc:shape>circle</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides/>
  </doc:row>
  <doc:row>
    <doc:shape>triangle</doc:shape>
    <doc:degrees>180</doc:degrees>
    <doc:sides>3.0</doc:sides>
  </doc:row>
</doc:data>'''

In [53]:
pd.read_xml(xml, xpath='.//doc:row',namespaces={'doc' : 'https://example.com'})

C:\Users\Home\AppData\Local\Temp\ipykernel_2572\2106074198.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml, xpath='.//doc:row',namespaces={'doc' : 'https://example.com'})

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [11]:
#practice

In [19]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data>
    <country>
        <name>India</name>
        <capital>New Delhi</capital>
    </country>
    <country>
        <name>USA</name>
        <capital>Washington D.C.</capital>
    </country>
</data>
'''

In [20]:
xml

"<?xml version='1.0' encoding='utf-8'?>\n<data>\n    <country>\n        <name>India</name>\n        <capital>New Delhi</capital>\n    </country>\n    <country>\n        <name>USA</name>\n        <capital>Washington D.C.</capital>\n    </country>\n</data>\n"

In [21]:
pd.read_xml(xml)

C:\Users\Home\AppData\Local\Temp\ipykernel_2572\2704978085.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml)

    name          capital
0  India        New Delhi
1    USA  Washington D.C.

In [23]:
pd.read_xml(xml, xpath='.//country')

C:\Users\Home\AppData\Local\Temp\ipykernel_2572\1954895238.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml, xpath='.//country')

    name          capital
0  India        New Delhi
1    USA  Washington D.C.

In [32]:
xml1 = '''<?xml version="1.0"?>
<school>
    <student id="1">
        <name>Ujjwal</name>
        <class>10</class>
        <marks>
            <math>85</math>
            <science>90</science>
            <english>88</english>
        </marks>
    </student>
    <student id="2">
        <name>Anita</name>
        <class>10</class>
        <marks>
            <math>92</math>
            <science>95</science>
            <english>89</english>
        </marks>
    </student>
    <student id="3">
        <name>Rahul</name>
        <class>9</class>
        <marks>
            <math>78</math>
            <science>83</science>
            <english>80</english>
        </marks>
    </student>
</school>
'''

In [33]:
pd.read_xml(xml1)

C:\Users\Home\AppData\Local\Temp\ipykernel_2572\3657160036.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml1)

   id    name  class           marks
0   1  Ujjwal     10  \n
1   2   Anita     10  \n
2   3   Rahul      9  \n

In [35]:
pd.read_xml(xml1, xpath='.//student')

C:\Users\Home\AppData\Local\Temp\ipykernel_2572\283705763.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml1, xpath='.//student')

   id    name  class           marks
0   1  Ujjwal     10  \n
1   2   Anita     10  \n
2   3   Rahul      9  \n